services:
  tts-gpu:
    build:
      context: ../..
      dockerfile: docker/gpu/Dockerfile
    ports:
      - "8101:8000"
    environment:
      - PYTHONUNBUFFERED=1
    restart: always
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]